@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar,
.left::-webkit-scrollbar {
  display: none;
}
html,
.left {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media only screen and (min-width: 1500px) {
  .skill-name {
    font-size: 24px;
  }
  .skill-item {
    font-size: 16px;
  }
}
.skill-container:hover .skill-tile {
  opacity: 0.4;
  transition: opacity 0.2s ease-in-out;
}
.skill-container .skill-tile:hover {
  z-index: 2;
  opacity: 1;
}

.project-list:hover .project-tile {
  opacity: 0.4;
  transition: opacity 0.2s ease-in-out;
}
.project-list .project-tile:hover {
  opacity: 1;
}
.container {
  max-width: 1920px;
}

input[type='checkbox'] {
  display: none;
}

label div .img {
  filter: grayscale(100%);
  transition: filter 0.2s ease-in-out;
}

:checked + label div .img {
  filter: none;
  transition: filter 0.2s ease-in-out;
}
label .checkbox-text-container-light {
  color: #858585;
}
:checked + label .checkbox-text-container-light {
  color: #f2f2f2;
  font-weight: 500;
  transition: font-weight 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

label .checkbox-text-container-dark {
  color: #3d3d3d;
}
:checked + label .checkbox-text-container-dark {
  color: #0b0f13;
  font-weight: 600;
  transition: font-weight 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
