@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
.dark-mode-button {
  position: fixed;
  top: 64px;
  right: 24px;
}
html::-webkit-scrollbar,
.left::-webkit-scrollbar {
  display: none;
}
html,
.left {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media only screen and (min-width: 1500px) {
  .skill-name {
    font-size: 24px;
  }
  .skill-item {
    font-size: 16px;
  }
}
.skill-container:hover .skill-tile {
  opacity: 0.4;
  transition: opacity 0.2s ease-in-out;
}
.skill-container .skill-tile:hover {
  z-index: 2;
  opacity: 1;
}

.project-list:hover .project-tile {
  opacity: 0.4;
  transition: opacity 0.2s ease-in-out;
}
.project-list .project-tile:hover {
  opacity: 1;
}
.container {
  max-width: 1920px;
}
